{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <div id="background" class="row" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
{#        <div class="col-12 img-responsive">#}
{#            <img id="background" src="{{ asset('img/background/bgDefault.jpg') }}" alt="background image">#}
{#        </div>#}
        <div class="col-12">
           <span class="material-icons"></span>

        </div>
        <div class="col-12 align-self-end">

        </div>
{#        carrousse#}
        <div class="container-fluid">
            <div class="row">
                {% for trick in tricks %}
                    <div class="col-3 card">
                        <p><a href="{{ path('tricks_show', {'id': trick.id}) }}">{{ trick.name }}</a></p>
                        <p>{{ trick.description }}</p>
                        <p>date de création :</p>
                        <p>{{ trick.createDate|date('d-m-Y H:i') }}</p>
                        {% if trick.updateDate %}
                           <p>updaté le :</p>
                            <p>{{ trick.updateDate|date('d-m-Y H:i') }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
