<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {#  icone #}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
</head>
<body>
<header>
    <nav>
        <div class="container-fluid p-1">
            <div class="row">
                <div class="col-1">

                    <img src="{{ asset('Image/logo.jpg') }}" alt="logo">

                </div>
                <div class="col-2 ml-auto text-right d-flex  align-items-center">
                    <p><a href="{{ path('index') }}">Home </a>|<a href="{{ path('tricks_index') }}"> Tricks </a>|<a
                                href="{{ path('app_login') }}"> Sign in </a>|<a href="{{ path('app_register') }}"> Sign
                            Up</a></p>
                </div>
            </div>
        </div>
    </nav>
</header>

<header>
    {% block header %}

    {% endblock %}
</header>

<section>
    {% block section %}

    {% endblock %}
</section>

<footer>
    {% block footer %}

    {% endblock %}
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}
</body>
</html>
